.prompt {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .inputContainer {
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        flex-wrap: wrap;
        .input {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 12em;
        }
    }
    .actions {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}
