.options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5em;
    padding-right: 2em;
    .colors {
        display: flex;
        gap: 0.25em;
        .color {
            --color-size: 1em;
            background: var(--comment-ico-color);
            height: var(--color-size);
            width: var(--color-size);
            border-radius: var(--ifm-global-radius);
            cursor: pointer;
            &.active,
            &:hover {
                background: transparent;
                border: 5px solid var(--comment-ico-color);
            }
        }
    }
    .delete {
        display: flex;
    }
}
