.js {
    display: grid;
    grid-template-columns: min-content minmax(min-content, max-content);
    grid-template-rows: auto;
    scrollbar-width: thin;
    .value,
    .name {
        border: 0px solid black;
        border-bottom-width: 1px;
        &:nth-last-child(2),
        &:last-child {
            border-bottom: 0;
        }
    }
    .name {
        padding-right: 0.25em;
        font-weight: bold;
    }
    .value {
        padding-left: 0.25em;
    }
}
.jsObjectViewer {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: flex-start;
    .spacer {
        flex: 1;
        flex-basis: 0;
        min-width: 0;
    }
}
