.typeSelector {
    .select {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: var(--ifm-global-radius);
        cursor: pointer;
        transition:
            border-color 0.3s,
            box-shadow 0.3s;
        &:focus {
            outline: none;
            border-color: var(--ifm-color-primary);
            box-shadow: var(--ifm-global-shadow-md);
        }
        &.invalid {
            border-color: var(--ifm-color-danger);
        }
    }
}
