.permission {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.5em;
    .spacer {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
    }
    .audience {
        display: flex;
        align-items: center;
        gap: 0.2em;
        text-wrap: nowrap;
        white-space: nowrap;
    }
}
