.binaryDecoder {
    --tdev-bit-width: 5px;
    --tdev-bit-height: 15px;
    --tdev-bindecoder-zoom: 1;
    &.fullscreen {
        --tdev-bindecoder-zoom: 2;
    }
    .meta {
        display: flex;
        align-items: flex-start;
        gap: 4px;
        .bytes {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5em;
        }
    }
    .output {
        font-size: calc(2em * var(--tdev-bindecoder-zoom));
    }
}
