CLIENT_ID="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
TENANT_ID="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
APP_URL="http://localhost:3000"
BACKEND_URL="http://localhost:3002"
API_URI="api://xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/access_as_user"
STUDENT_USERNAME_PATTERN="@edu"
DEFAULT_TEST_USER="adam.admin@gbsl.ch"
CIPHERLOCK_SERVER_URL="http://localhost:3099"