.content {
    border-right: 2px solid var(--comment-ico-color);
    margin-right: -2px;
    border-bottom-right-radius: var(--ifm-alert-border-radius);
    position: relative;
    margin-bottom: 0.4rem;
    .options {
        position: absolute;
        top: 0em;
        right: -1em;
        z-index: var(--ifm-z-index-dropdown);
        display: none;
        cursor: pointer;
        &.open {
            display: block;
        }
    }
    &:hover {
        .options {
            display: block;
        }
    }
    .quill {
        --ifm-color-primary: var(--comment-ico-color);
        margin-bottom: 0;
    }
}
.iconWrapper:hover + .content {
    .options {
        display: block;
    }
}

/**
* support deflists
*/
dd + .iconWrapper + .content {
    grid-column: 2;
    margin-left: 0.6rem;
    margin-bottom: 0;
}

@media screen and (max-width: 620px) {
    dd + .iconWrapper + .content {
        grid-column: 1;
        margin-left: 2rem;
    }
}
