.documentContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    .documentName {
        font-weight: bold;
        flex-basis: 50%;
        text-overflow: clip;
        overflow: auto;
        white-space: nowrap;
    }

    .actions {
        display: flex;
    }
}

@media screen and (max-width: 520px) {
    .documentContainer {
        .docButton {
            display: none;
        }
    }
}
