.badge {
    display: inline-flex;
    align-items: center;
    gap: 0.25em;
    cursor: pointer;
    &.noPaddingLeft {
        padding-left: 4px;
    }
    &.noPaddingRight {
        padding-right: 4px;
    }
    &.blue {
        --ifm-color-primary: var(--ifm-color-blue);
    }
    &.black {
        --ifm-color-primary: var(--ifm-color-content);
        --ifm-badge-color: var(--ifm-color-content-inverse);
    }
}
