.main {
    --ifm-container-width-xl: 1700px;
    --ifm-tabs-padding-vertical: 0.2em;
    --ifm-tabs-padding-horizontal: 0.6em;
    margin: 2em;
}

@media screen and (max-width: 768px) {
    .main {
        margin: 0.5em;
    }
}
