.tile {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    box-shadow: var(--custom-global-shadow-md);
    height: 100%;
}

.tileTitle {
    font-weight: bold;
}

.tileBody {
    margin-top: 8px;
}

.linkWrapper,
.linkWrapper:hover {
    text-decoration: none;
    color: inherit;
}
