.accountSwitcher {
    position: relative;
    .accountSwitcherButton {
        height: 1.55rem;
        .text {
            display: none;
        }
    }
}

.wrapper {
    .body {
        .userList {
            max-height: 20em;
            overflow-y: auto;
        }
    }
}

.switchToUserButton {
    width: fit-content;
    position: relative;
    .liveIndicator {
        position: absolute;
        left: 3px;
        top: 1px;
    }
}
:global(.navbar-sidebar) {
    .accountSwitcher {
        .accountSwitcherButton {
            .text {
                display: inline;
            }
        }
    }
}
