.connectionPanel {
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: #f8f8f8;
  box-shadow: 8px 5px 5px rgba(211, 211, 211, 0.51);
}

details[open].connectionPanel summary {
  margin-bottom: 1rem;
}

.tabs {
  margin-top: 2rem;
}

input[type=file] {
  display: none;
}

.gameFileUploadContainer {
  display: flex;
  flex-direction: column;

  .selectedFile {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  .btnSelectGameFile {
    margin-right: 0.5rem;
  }
}
