.docRoots {
    .header {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        h3 {
            margin-bottom: 0;
        }
    }

    .body {
        padding-top: 0.5em;

        .actions {
            display: flex;
            justify-content: space-between;
        }
    }
}
