.copyBadge {
    cursor: pointer;
    position: relative;
    font-family: monospace;
    font-size: inherit;
    .copyIcon {
        transition: all 0.4s ease;
        position: absolute;
        right: 4px;
        transform: scale(0) translateY(-10%);
    }
    &:hover {
        .copyIcon {
            transform: scale(1) translateY(-10%);
        }
    }
}

[data-theme='dark'] {
    .copyBadge {
        --ifm-badge-background-color: var(--ifm-color-black);
        color: var(--ifm-color-secondary);
    }
}
