@import '../../../css/variables';

.tileGrid {
    display: grid;
    gap: 16px;
}

.fullWidthTiles {
    grid-template-columns: repeat(1, 1fr);
}

.largeTiles {
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: $screen-width-sm) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.mediumTiles {
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: $screen-width-lg) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $screen-width-sm) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.smallTiles {
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: $screen-width-lg) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: $screen-width-md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $screen-width-sm) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.growOnHover > * {
    transition: scale 0.1s;
}

.growOnHover > *:hover {
    scale: 105%;
}
