.dropdown {
    // appearance: none;
    border: 1px solid var(--ifm-color-gray-500);
    border-radius: var(--ifm-button-border-radius);
    padding: 3.25px;
    font-size: calc(0.9 * var(--ifm-font-size-base));
    color: var(--ifm-font-color-base);
    cursor: pointer;
    width: auto;
    max-width: 90vw;
    min-width: 0;
    transition: all 0.3s ease;
    z-index: var(--ifm-z-index-dropdown);

    box-shadow: var(--ifm-global-shadow-ld);
    transition:
        border-color 0.3s,
        box-shadow 0.3s;
    &:focus {
        border-color: var(--ifm-link-hover-color);
        outline: none;
        box-shadow: 0 0 2px var(--ifm-link-hover-color);
    }

    option {
        padding: var(--ifm-button-padding-vertical);
        &.selected {
            background-color: var(--ifm-color-primary);
            color: white;
        }
    }
}
