.profileButton {
    position: relative;
    .liveIndicator {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
    &.collapsed {
        .text {
            display: none;
        }
        .liveIndicator {
            bottom: 3px;
            right: 3px;
        }
    }
}

:global(.navbar-sidebar) {
    .profileButton {
        display: inline-block;
        &.collapsed {
            .text {
                display: inline;
            }
            .liveIndicator {
                bottom: 5px;
                right: 5px;
            }
        }
    }
}
