.audioContainer {
    min-width: 2em;
    max-width: 30em;
    max-height: 25em;
    overflow: auto;
    .audio {
        line-height: 0;
    }
    .header {
        padding: 0 2px;
        padding-bottom: 10px;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
    }
    &:hover {
        .header {
            scrollbar-width: thin;
        }
    }
}
