.directory {
    --ifm-list-left-padding: var(--cms-tree-indent);
    margin: 2em;
    &.compact {
        --cms-tree-indent: 0.5em;
    }
    .cardBody {
        padding-top: 0.25em;
        .dirTree {
            padding-left: 0;
        }
    }
}
@media screen and (max-width: 620px) {
    .directory {
        margin: 0.5em;
    }
}
