.loginPage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 3em;
}
.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}
