.logs {
    position: relative;
    padding: var(--ifm-pre-padding);
    background-color: var(--prism-background-color);

    .actions {
        position: sticky;
        top: 8px;
        width: 100%;
        .hoverActions {
            gap: 4px;
            display: none;
            top: 0;
            right: 0px;
            position: absolute;
        }
    }
    &:hover {
        .actions {
            .hoverActions {
                display: flex;
                .button {
                    &:hover {
                        background-color: var(--ifm-color-gray-200);
                        opacity: 1;
                    }
                }
            }
        }
    }
    .messages {
        overflow: auto;
        .message {
            font: var(--ifm-code-font-size) / var(--ifm-pre-line-height) var(--ifm-font-family-monospace);
            text-wrap: nowrap;
            margin: 0;
            padding: 0;
            overflow: visible;
            &.error {
                color: var(--ifm-color-danger-dark);
                text-wrap: wrap;
            }
            &.scrollMargin {
                line-height: 1;
            }
        }
    }
}
