.editThisPage {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    .edit {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        &.noUser {
            --ifm-link-color: var(--ifm-color-gray-600);
        }
        .cms {
            transform: translateY(2px);
        }
    }
}
