.main {
    --ifm-container-width-xl: 1700px;
    --ifm-tabs-padding-vertical: 0.2em;
    --ifm-tabs-padding-horizontal: 0.6em;
    margin: 2em;
    .userInfo {
        > dd.reloadAction {
            display: flex;
            align-items: center;
            gap: 0.5em;
        }
    }
    .studentGroup {
        font-weight: normal;
        font-style: italic;
    }
    .userTable {
        position: relative;
        max-height: 40em;
        overflow-y: auto;
        .filter {
            top: 0;
        }
    }
    .changeTestUser {
        display: flex;
        flex-direction: row;
    }
}
.connectedClients {
    --ifm-color-primary: var(--ifm-color-blue);
    --ifm-badge-background-color: var(--ifm-color-blue);
    margin-right: 0.5em;
}
