.card {
    overflow: auto;
    max-height: 85vh;
    .accountOptions {
        .repoHeader {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }
        .repos {
            max-height: 50vh;
            overflow: auto;
        }
    }
}
