.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginStrategyButtons {
  margin-top: 2rem;
  display: inline-flex;
  flex-direction: column;

  button {
    margin-bottom: 1rem;
  }
}

.inputFields {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-row-gap: 1rem;

  .loginButton {
    margin-top: 1rem;
  }
}
