.name {
    position: relative;
    font-weight: bold;
    .nameInput {
        font-weight: bold;
        font-size: 85%;
        padding: 0.25em 0.5em;
    }
    .dirtyIndicator {
        position: absolute;
        top: -2px;
        right: 4px;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        color: var(--ifm-color-warning);
        &.dirty {
            opacity: 1;
        }
    }
}
.value {
    display: flex;
    width: 100%;
    .input {
        padding-right: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }
    .stickyActions {
        position: sticky;
        right: 0;
        .actions {
            position: absolute;
            background: var(--ifm-background-surface-color);
            border-radius: var(--ifm-global-radius);
            display: flex;
            align-items: center;
            right: 0;
            top: 0;
        }
    }
    &.string,
    &.number,
    &.boolean,
    &.nullish {
        .input {
            padding-right: 3.2em;
        }
    }
}
