.codeEditor {
    background: var(--prism-background-color);
    color: var(--prism-color);
    margin: 1em;
    margin-bottom: var(--ifm-leading);
    box-shadow: var(--ifm-global-shadow-lw);
    border-radius: var(--ifm-code-border-radius);
    .header {
        border-bottom: 1px solid var(--ifm-color-emphasis-300);
        font-size: var(--ifm-code-font-size);
        padding: 0.75rem var(--ifm-pre-padding);
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
    }
}
