.state {
    display: flex;
    align-items: baseline;
    gap: 8px;
    cursor: pointer;

    --tdev-task-state-margin-bottom: var(--ifm-paragraph-margin-bottom);
    margin-bottom: var(--tdev-task-state-margin-bottom);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    &.inline {
        display: inline-flex;
        --tdev-task-state-margin-bottom: 0;
    }
    .checkbox {
        font-size: 1.2rem;
        border-radius: var(--ifm-global-radius);
        padding: 4px;
        &:hover {
            filter: brightness(0.85);
        }
        &.readonly {
            filter: brightness(0.85);
        }
        @keyframes flash {
            0%,
            100% {
                opacity: 1;
            }
            50% {
                opacity: 0.8;
            }
        }

        @keyframes shake {
            0%,
            100% {
                transform: translateX(0) rotate(0deg);
            }
            10%,
            30%,
            50%,
            70%,
            90% {
                transform: translateX(-2px) rotate(-5deg);
            }
            20%,
            40%,
            60%,
            80% {
                transform: translateX(2px) rotate(5deg);
            }
        }
        &.animate {
            animation:
                flash 1s normal,
                shake 1.5s normal;
            transform-origin: center;
        }
    }
    &.dummy {
        .checkbox {
            border: 2px solid var(--ifm-color-danger);
            padding: 2px;
        }
    }
}

:global(.theme-admonition) {
    position: relative;
    & > div[class^='admonitionContent'] {
        & > :first-child.state {
            position: absolute;
            top: 10px;
            left: 8px;
            margin-bottom: 0;
            &.loader {
                top: 14px;
                left: 16px;
                background-color: var(--ifm-alert-background-color);
            }
        }
    }
}
