.layoutContainer {
  display: flex;
  width: 100%;

  &.alignCenter {
    justify-content: center;
  }

  &.alignRight {
    justify-content: flex-end;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
  }

  .caption {
    width: 100%;
    font-size: 0.8rem;
    font-style: italic;
    text-align: right;

    &.alignLeft {
      text-align: left;
    }

    &.alignCenter {
      text-align: center;
    }
  }
}
