.netpbm {
    .editor {
        width: 100%;
        border: 1px solid rgb(192, 192, 192);
        border-radius: 0.5em;
        margin-bottom: 1em;
        overflow: hidden;

        .textAreaWrapper {
            position: relative;
        }

        .editorTextArea {
            display: block;
            width: 100%;
            resize: vertical;
            min-height: 100px;
            max-height: 600px;
            white-space: pre;
            overflow-wrap: normal;
            overflow-x: scroll;
            box-sizing: border-box;
            border: none;
            border-bottom: 1px solid rgb(232, 232, 232);
            padding: 0.5em;
        }
        .footer {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 0.5em;
            padding: 0.3em 0.5em;
            border-radius: 0;

            .validationWrapper {
                position: relative;
                flex-grow: 1;
                .iconContainer {
                    position: absolute;
                    right: 0.5em;
                    top: 0.125em;
                }

                summary {
                    position: relative;
                    cursor: pointer;
                    user-select: none;

                    .iconContainer {
                        position: absolute;
                        right: 0.2em;
                        top: 0.2em;
                    }
                }
            }
            .actions {
                line-height: 0;
                display: flex;
                align-items: center;
            }
        }
    }

    .output {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .downloadButton {
            display: none;
        }
        &:hover {
            .downloadButton {
                display: block;
                position: absolute;
                top: 0.5em;
                right: 0.5em;
                z-index: 1;
            }
        }
    }
}

.canvas {
    display: block;
    max-height: 400px;
    max-width: 100%;
    width: auto;
    height: 400px;
    object-fit: contain;
}

.hidden {
    display: none;
}
