.wrapper {
    margin-bottom: 2em;

    .placeholder {
        display: flex;
        flex-direction: row;
        // border-radius: 1em;
        // box-shadow: var(--ifm-global-shadow-md);
        // padding: 1em 2em;
    }
}
