.badge {
  display: inline-block;
  vertical-align: middle;
  width: fit-content;
  border-radius: 2em;
  padding: 0.7em 1em;

  color: var(--ifm-color-primary);
  font-size: 1rem;
  background-color: var(--ifm-breadcrumb-item-background-active);

  cursor: pointer;
  transition: scale var(--ifm-transition-fast);

  &:hover {
    scale: 105%;
  }

  a:hover {
    text-decoration: none;
  }
}
