.htmlEditor {
    margin-bottom: 1em;
    &:last-child {
        margin-bottom: 0;
    }
    .code {
        margin-bottom: 0.5rem;
    }
    .htmlWindow {
        --ifm-color-emphasis-200: var(--ifm-color-blue);
        margin-bottom: 0;
        div[class^='browserWindowHeader'] {
            padding: 0.2rem 0.8rem;
        }
        .sandbox {
            background: var(--ifm-color-white);
        }
    }
}
