/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary-dark: #306cce;
    --ifm-color-primary-darker: #2d66c3;
    --ifm-color-primary-darkest: #2554a0;
    --ifm-color-primary-light: #538ce9;
    --ifm-color-primary-lighter: #72a1ed;
    --ifm-color-primary-lightest: #9abcf2;

    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
    --ifm-color-blue-lighter: #72a1ed;
    --ifm-color-blue: #3578e5;
    --ifm-color-blue-dark: #306cce;
    --ifm-color-blue-darker: #2d66c3;
    --ifm-color-disabled: #6e6e6e;
    --ifm-color-violet: #8957e5;
    --ifm-color-boxed: #3348b5;
    --prism-background-color: #f6f8fa;
    --tdev-sync-status-syncing-color: var(--ifm-color-secondary);
    --tdev-sync-status-success-color: var(--ifm-color-primary);
    --tdev-sync-status-error-color: var(--ifm-color-danger);

    --tdev-admonition-aufgabe-background-color: #0095ff0f;
    --tdev-admonition-aufgabe-background-color-highlight: #0095ff1a;
    --tdev-admonition-aufgabe-foreground-color: var(--ifm-color-content);
    --tdev-admonition-aufgabe-border-color: #0095ff73;

    --tdev-admonition-definition-background-color: #faefe7;
    --tdev-admonition-definition-background-color-highlight: #eaded7;
    --tdev-admonition-definition-foreground-color: #003100;
    --tdev-admonition-definition-border-color: #988c8a;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
    --ifm-global-shadow-lw: 0 1px 2px 0 rgba(0, 119, 110, 0.1);
    --ifm-global-shadow-md: 0 4px 12px rgba(0, 119, 110, 0.1);
    --ifm-global-shadow-tl: 0 8px 16px 0 rgba(0, 119, 110, 0.08), 0 2px 4px 0 rgba(0, 119, 110, 0.05);
    --ifm-color-boxed: #8395ef;
    --prism-background-color: #282a36;

    --tdev-admonition-aufgabe-background-color: #0095ff1a;
    --tdev-admonition-aufgabe-background-color-highlight: #0095ff44;
    --tdev-admonition-aufgabe-border-color: #0095ffa0;

    --tdev-admonition-definition-background-color: #3e3532;
    --tdev-admonition-definition-background-color-highlight: #4e4542;
    --tdev-admonition-definition-foreground-color: #b8e6b8;
    --tdev-admonition-definition-border-color: #6a5f5d;
}

strong.boxed {
    color: var(--ifm-color-boxed);
    font-weight: normal;
    border: 1px solid var(--ifm-color-gray-600);
    padding: 1px 0.4em 1px 0.3em;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    line-height: initial;
}

.mdxeditor,
.markdown {
    dl {
        dd,
        dt {
            p {
                margin-bottom: 0;
            }
        }
    }
    .mdi-icon {
        transform: translateY(20%);
        &.green {
            color: var(--ifm-color-success);
        }

        &.red {
            color: var(--ifm-color-danger);
        }

        &.orange {
            color: var(--ifm-color-warning);
        }

        &.yellow {
            color: #edcb5a;
        }

        &.blue {
            color: #3578e5;
        }

        &.cyan {
            color: #01f0bc;
        }

        &.m {
            font-size: 1.25em;
        }

        &.l {
            font-size: 1.6em;
        }

        &.xl {
            font-size: 2rem;
        }
    }
}

kbd {
    padding: 0.3em 0.5em;
    padding-bottom: 0.35em;
    padding-top: 0.25em;
    border-radius: 0.5em;
    box-shadow: inset 1px -2px 0 var(--ifm-color-emphasis-400);
}

div.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4em;
    margin-bottom: 1em;
    &:last-child {
        margin-bottom: 0;
    }
    > div.item {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 10px;
        max-width: 100%;

        &.noFlex {
            flex-grow: unset;
            flex-shrink: unset;
            flex-basis: unset;
        }
        &.empty {
            opacity: 0;
        }

        .card__image {
            :first-child {
                margin: 0;
                margin-left: auto;
                margin-right: auto;
            }
            &:has(> p > video) {
                > p > video {
                    width: 100%;
                }
                > div[class^='wrapper']:has(> div[class^='comment']) {
                    display: none;
                }
            }
            &:only-child {
                line-height: 0;
            }

            figure {
                margin: 0;
                line-height: 0;
                flex-grow: 1;

                > * {
                    line-height: normal;
                }

                figcaption {
                    margin: 0.4em 1em;
                }
            }

            &.code__card {
                padding: 0;
            }
        }
    }

    &[style*='justify-content: space-around'],
    &[style*='justify-content: space-between'],
    &[style*='justify-content: center'],
    &[style*='justify-content: flex-end'],
    &[style*='justify-content: end'],
    &[style*='justify-content: space-evenly'] {
        > div.item {
            flex-grow: 0;
        }
    }
}

.popup-content {
    max-width: 98%;
}

.popup-overlay {
    max-width: 100vw;
}
