.assets {
    overflow-y: auto;
    max-height: 15em;
    position: relative;
    .header {
        position: sticky;
        top: calc(-1 * var(--ifm-card-vertical-spacing) + 10px);
        z-index: var(--ifm-z-index-dropdown);
        h4 {
            background-color: var(--ifm-card-background-color);
            display: inline-block;
            border-radius: var(--ifm-global-radius);
            padding-right: 8px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin-bottom: 0;
        }
    }
    .selector {
        --cms-tree-indent: 0.75em;
        .pathNav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1em;
            .path {
                font-weight: 500;
                font-style: italic;
            }
        }
    }
}
