.textAreaInput {
    width: 100%;
    padding: var(--ifm-button-padding-vertical);
    resize: none;
    overflow-y: hidden;
    border: 1px solid var(--ifm-color-gray-500);
    border-radius: var(--ifm-global-radius);
    font-size: var(--ifm-font-size-base);
    box-shadow: var(--ifm-global-shadow-md);
    transition: height 0.3s ease-in-out;
    &:focus {
        border-color: var(--ifm-link-hover-color);
        outline: none;
        box-shadow: 0 0 8px var(--ifm-link-hover-color);
    }
    &.monospace {
        font-family: var(--ifm-font-family-monospace);
    }
}

.label {
    font-family: var(--ifm-heading-font-family);
    font-weight: var(--ifm-heading-font-weight);
    font-size: var(--ifm-h4-font-size);
}
