.editor {
    --ifm-table-cell-padding: 0.2rem;
    max-width: 95vw;
    max-height: 80vh;
    .body {
        overflow-y: auto;
    }
    table {
        margin-bottom: 0;
        text-align: left;
        .title {
            position: relative;
            .dirtyIndicator {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .propertyEditorCell {
            min-width: 24em;
            text-align: right;
            .content {
                display: flex;
                align-items: center;
            }
        }
        .description {
            font-size: 0.8em;
            color: var(--ifm-color-emphasis-600);
            max-width: 20em;
        }
        .addAttribute {
            display: inline-flex;
        }
    }
    .buttonsFooter {
        display: flex;
        justify-content: space-between;
    }
}
.spacer {
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
}

@media screen and (max-width: 768px) {
    .editor {
        table {
            .propertyEditorCell {
                min-width: 12em;
            }
        }
    }
}
