.dice {
    width: 30px;
    height: 30px;
    border: 1px solid red;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    &.isRolling {
        animation: rotate 1s ease-out infinite;
    }
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .history {
        display: flex;
        gap: 5px;
        margin: 10px 0;
        flex-wrap: wrap;
        .dice {
            border-color: gray;
            &.inWindow {
                border-color: blue;
            }
        }
    }
}

@keyframes rotate {
    100% {
        transform: rotate(2turn) scale(1.2);
    }
}
