.simpleChatContainer {
    border: 1px solid var(--ifm-color-content-secondary);
    border-radius: var(--ifm-global-radius);
    padding: 4px;
    margin-bottom: 1em;
}
.name {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .actions {
        display: flex;
        gap: 4px;
        align-items: center;
        flex-wrap: wrap;
    }
}
