.controls {
    grid-area: controls;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;

    z-index: calc(var(--ifm-z-index-fixed) - 2);
    padding: 0.2em;
    padding-left: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    background: var(--ifm-color-emphasis-200);
    color: var(--ifm-color-content);
    font-size: var(--ifm-h3-font-size);
    .title {
        flex-shrink: 1;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .dummyIndicatorIcon {
        margin-left: 1em;
    }
    .spacer {
        flex-grow: 1;
        flex-basis: 0;
    }
    &.slim {
        padding: 0;
    }
    &.unpersisted {
        background: var(--ifm-color-warning-lightest);
    }
    .fullscreenButton {
        opacity: var(--tdev-code-editor-fullscreen-opacity);
    }
    &:hover {
        .fullscreenButton {
            --tdev-code-editor-fullscreen-opacity: 1;
            &:hover {
                --tdev-code-editor-fullscreen-opacity: 0.6;
            }
        }
    }
}

[data-theme='dark'] {
    .controls {
        &.unpersisted {
            background: var(--ifm-color-warning-darkest);
        }
    }
}
