.wrapper {
    overflow-y: auto;
    height: 80vh;
    width: 40em;

    @media screen and (max-width: 768px) {
        width: 95vw;
    }
}

.tabs {
    --ifm-tabs-padding-vertical: 0.15em;
    --ifm-tabs-padding-horizontal: 0.6em;
}

.textInput {
    width: 100%;
    border: 1px solid var(--ifm-color-secondary);
    border-radius: var(--ifm-global-radius);
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
}

.list {
    > :nth-child(2n) {
        background-color: var(--ifm-color-secondary-lightest);
    }

    > :hover {
        background-color: var(--ifm-color-primary-contrast-background);
    }

    .listItem {
        display: flex;
        justify-content: space-between;
    }
}

[data-theme='dark'] {
    .list {
        > :nth-child(2n) {
            background-color: var(--ifm-color-secondary-contrast-background);
        }
    }
}

.addMembersPopupTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;

    h2 {
        margin: 0 0.4em;
    }
}

.addUserCardBody {
    padding-top: 0.5em;

    .addUserListItem {
        display: flex;
        flex-direction: row;
        width: 100%;
        text-wrap: nowrap;

        .userInfo {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-grow: 0;
            flex-shrink: 0;
            gap: 0.2em;
        }

        .groupMembership {
            display: flex;
            width: 100%;
            flex-grow: 1;
            flex-shrink: 1;
            justify-content: flex-end;
            align-items: center;
            overflow: hidden;

            .groupMembershipBadges {
                margin: 0 0.5em;
                gap: 0.2em;
                display: flex;
                flex-direction: row;
                align-items: center;
                overflow-x: auto;
            }
        }
    }
}

.importFromList {
    padding: 1em;

    .textArea {
        margin-top: 0.5em;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: auto;
        width: 100%;
        max-height: 500px;
    }
}
