.wrapper {
    overflow-y: auto;
    max-height: 80vh;
}

.tabs {
    --ifm-tabs-padding-vertical: 0.15em;
    --ifm-tabs-padding-horizontal: 0.6em;
}

.list {
    > :nth-child(2n) {
        background-color: var(--ifm-color-secondary-lightest);
    }

    > :hover {
        background-color: var(--ifm-color-primary-contrast-background);
    }

    .listItem {
        display: flex;
        justify-content: space-between;
    }
}

[data-theme='dark'] {
    .list {
        > :nth-child(2n) {
            background-color: var(--ifm-color-secondary-contrast-background);
        }
    }
}

.addUserCardTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;

    h2 {
        margin: 0 0.4em;
    }
}

.importFromList {
    padding: 1em;

    .textArea {
        margin-top: 0.5em;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: auto;
        width: 100%;
        max-height: 500px;
    }
}
