.answerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #efefef;
  border-radius: 2rem;
  padding: 2rem;
  margin-bottom: 1rem;
}

button {
  margin-top: 1rem;
}

input {
  width: 100%;
  font-family: var(--ifm-font-family-monospace);
  font-size: var(--ifm-code-font-size);
  border-style: none;
  height: 3.3ch;
}
