.imageResizer {
    display: block;
    --ifm-resizer-handle-size: 12px;
    --ifm-resizer-handle-border-width: 4px;
    width: var(--ifm-resizer-handle-size);
    height: var(--ifm-resizer-handle-size);
    border-radius: 50%;
    position: absolute;
    border: var(--ifm-resizer-handle-border-width) solid var(--ifm-color-primary);
    z-index: calc(var(--ifm-z-index-dropdown) / 2 + 1);

    &.imageResizerN {
        top: calc(-1 * var(--ifm-resizer-handle-size) / 2);
        left: calc(50% - var(--ifm-resizer-handle-size) / 2);
        cursor: n-resize;
    }

    &.imageResizerNe {
        top: calc(-1 * var(--ifm-resizer-handle-size) / 2);
        right: calc(-1 * var(--ifm-resizer-handle-size) / 2);
        cursor: ne-resize;
    }

    &.imageResizerE {
        bottom: calc(50% - var(--ifm-resizer-handle-size) / 2);
        right: calc(-1 * var(--ifm-resizer-handle-size) / 2);
        cursor: e-resize;
    }

    &.imageResizerSe {
        bottom: calc(-1 * var(--ifm-resizer-handle-size) / 2);
        right: calc(-1 * var(--ifm-resizer-handle-size) / 2);
        cursor: nwse-resize;
    }

    &.imageResizerS {
        bottom: calc(-1 * var(--ifm-resizer-handle-size) / 2);
        left: calc(50% - var(--ifm-resizer-handle-size) / 2);
        cursor: s-resize;
    }

    &.imageResizerSw {
        bottom: calc(-1 * var(--ifm-resizer-handle-size) / 2);
        left: calc(-1 * var(--ifm-resizer-handle-size) / 2);
        cursor: sw-resize;
    }

    &.imageResizerW {
        bottom: calc(50% - var(--ifm-resizer-handle-size) / 2);
        left: calc(-1 * var(--ifm-resizer-handle-size) / 2);
        cursor: w-resize;
    }

    &.imageResizerNw {
        top: calc(-1 * var(--ifm-resizer-handle-size) / 2);
        left: calc(-1 * var(--ifm-resizer-handle-size) / 2);
        cursor: nw-resize;
    }
}
.imageControlWrapperResizing {
    touch-action: none;
}
