.console {
    position: relative;
    background: #222;
    color: #0f0;
    font-family: monospace;
    padding: 16px;
    border-radius: 8px;
    aspect-ratio: 5/3;
    width: 100%;
    overflow-y: auto;
}

.inputForm {
    display: inline;
}

.input {
    background: black;
    color: #0f0;
    border: none;
    outline: none;
    font-family: monospace;
}

.restartButton {
    position: absolute;
    right: 0.3em;
    top: 0.3em;
}
