.jsObjectEditor {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: flex-start;
    .spacer {
        flex: 1;
        flex-basis: 0;
        min-width: 0;
    }
}
.header {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}
